/*********** IMPORTING FONTS ***********/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400;1,500&family=Poppins:wght@100;300;400;500&family=Rubik:wght@300;400;500;700&display=swap');

/*********** SETTING RULES ***********/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/*********** BODY ***********/
body {
  overflow-x: hidden;
}

/*********** HEADER **********/
.header,
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 1366px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
}

/*********** LOGO **********/
.logo {
  margin-top: -2px;
  margin-left: 30px;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 30px;
}

#career {
  color: #DAA520;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

#finder {
  color: #622BBC;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

/*********** SIGN IN **********/
.account {
  width: 110px;
  height: 35px;
  margin-top: 0px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  margin-left: 900px;
  padding: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
  stroke: #000;
  background: #DAA520;
} 

a#sign-up.account {
  width: 125px;
  margin-top: -46px;
  display: flex;
  justify-content: center;
  margin-left: 980px;
  background: #FFF;
}

/*********** CENTER CARD**********/
.center-card {
  width: 500px;
  height: 500px;
  border-radius: 40px;
  background: #D9D9D9;
  margin-top: 40px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 425px;
  padding: 5px;
}

#title {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.subtitle {
  color: #797979;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

#others {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.inputs {
  width: 430px;
  height: 38px;
  border-radius: 15px;
  padding-left: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 700;
  color: #9a9a9a;
}

.inputs-others {
  display: block;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  margin-left: 110px;
  margin-top: 10px;
  padding-left: 12px;
  color: #9a9a9a;
}

/********** PRIVACY POLICY *********/
#text-privacy {
  font-size: 10px;
  font-weight: 700;
  color: #9a9a9a;
  width: 180px;
  margin-top: 10px;
  margin-left: 150px;
}

#privacy-policy {
  text-decoration: none;
  color: #0066FF;
}

/********** BUTTON *********/
#create-btn {
  margin-left: -15px;
  margin-top: 15px;
  height: 35px;
  width: 150px;
  border-radius: 30px;
  color: #fff;
  background: #622BBC;
}

/********** FOOTER *********/
.footer {
  width: 100vw;
  height: 200px;
  color: #FFF;
  display: flex;
}

#logo-footer {
  margin-top: 70px;
  width: 330px;
}

.copyright {
  color: #D1D1D1;
}

#names {
  display: flex;
  margin-top:150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -800px;
  font-size: 13px;
}

#names a {
  text-decoration: none;
}

.gold {
  color: #DAA520;
}

.social-media {
  display: flex;
  margin-top: 70px;
  gap: 20px;
  margin-left: 700px;
}

.icons-social-media {
  display: flex;
  width: 45px;
  height: 45px;
  background: #DEE;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

/*********** MEDIA QUERY **********/
@media (min-width: 1500px) {

  /*********** HEADER DESKTOP **********/
  .header,
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 1950px;
  }
  
  /*********** LOGO DESKTOP **********/
  .logo {
    margin-top: -2px;
    margin-left: 50px;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 30px;
  }
  
  /*********** SIGN IN DESKTOP **********/
  .account {
    margin-left: 1500px;
  } 
  
  a#sign-up.account {
    margin-left: 1600px;
  }
  
  /*********** CENTER CARD DESKTOP **********/
  .center-card {
    width: 600px;
    height: 600px;
    margin-top: 60px;
    margin-left: 600px;
    padding: 5px;
  }

  #title {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .subtitle {
    margin-top: 10px;
    font-size: 16px;
  }
  
  #others {
    margin-top: 20px;
  }
  
  .inputs {
    width: 450px;
    height: 45px;
    margin-top: 15px;
    font-weight: 700;
  }
  
  .inputs-others {
    display: block;
    width: 350px;
    height: 39px;
  }
  
  /********** PRIVACY POLICY *********/
  #text-privacy {
    font-size: 11px;
    width: 180px;
    margin-left: 195px;
  }
  
  /********** BUTTON *********/
  #create-btn {
    height: 40px;
  }

  /*********** FOOTER DESKTOP**********/
.footer {
  width: 100vw;
  height: 200px;
  color: #000;
  display: flex;
  margin-left: 30px;
}

#logo-footer {
  margin-top: 100px;
  width: 330px;
}

.copyright {
  color: #000;
}

#names {
  display: flex;
  margin-top:150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -1030px;
  font-size: 16px;
  margin-top: 190px;
}

#names a {
  text-decoration: none;
}

.gold {
  color: #DAA520;
}

.social-media {
  display: flex;
  margin-top: 70px;
  gap: 20px;
  margin-left: 1100px;
}

.icons-social-media {
  display: flex;
  width: 45px;
  height: 45px;
  background: #DEE;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

}
}