/*********** IMPORTING FONTS ***********/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400;1,500&family=Poppins:wght@100;300;400;500&display=swap');

/*********** SETTING RULES ***********/
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

/*********** HEADER **********/
.header,
.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 1940px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 1px 10px 3px rgb(196, 196, 196);
}

/*********** LOGO **********/
.logo {
  margin-top: -2px;
  margin-left: 60px;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 30px;
}

#career {
  color: #DAA520;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

#finder {
  color: #622BBC;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

/*********** SIGN IN **********/
.account {
  width: 150px;
  height: 35px;
  margin-top: 0px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
  margin-left: 1440px;
  padding: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
  stroke: #000;
  justify-content: center;
}  

/* ********** MENU HAMBURGUER *********
#menu {
  width: 30px;
  height: 25px;
  margin-left: 140px;
  margin-right: 650px;
} */

/*********** MAIN SECTION **********/
.content {
  margin-top: 50px;
  padding: 15px;
}

h2.title { 
  font-size: 28px;
  align-items: center;
  text-align: center;
  margin-top: -10px;
}

span#gold {
  color: #DAA520;
}

span#purple {
  color: #622BBC;
}


/*********** SEARCH BAR **********/
input {
  border: 1px solid #000;
  width: 600px;
  height: 80px;
  border-radius: 35px;
  padding: 30px;
  margin-top: 50px;
  margin-left: 640px;
  background-color: #fcfcfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#filter::-webkit-input-placeholder{
  color:#888;
  font-weight: bold;
  font-size: 15px;
}

/*********** SELECT CITY **********/
.city-select {
  font-weight: 700;
  color: #888;
  margin-top: -65px;
  text-transform: uppercase;
  margin-left: 1020px;
}

#cidades {
  font-weight: 700;
}

#title2 {
  margin-top: 80px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 110px;
}

.card {
  display: block;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 180px;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #000;
}

.card-content {
  margin-top: 20px;
}

.card a {
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000;
}

.card span {
  color: #AAA6B9;
  font-weight: 400;
}

.card h2 {
  margin: 0;
}

.card i {
  font-size: 36px;
  margin-top: 10px;
}

/*********** FOOTER **********/
.footer {
  width: 100vw;
  height: 200px;
  color: #000;
  display: flex;
  margin-left: 30px;
}

#logo-footer {
  margin-top: 100px;
  width: 330px;
}

.copyright {
  color: #000;
}

#names {
  display: flex;
  margin-top:150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -1030px;
  font-size: 16px;
  margin-top: 190px;
}

#names a {
  text-decoration: none;
}

.gold {
  color: #DAA520;
}

.social-media {
  display: flex;
  margin-top: 70px;
  gap: 20px;
  margin-left: 1100px;
}

.icons-social-media {
  display: flex;
  width: 45px;
  height: 45px;
  background: #DEE;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

